html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: hsl(180, 52%, 96%);
}
.App {
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: 100%;
  margin-top: 5%;
}

.search-bar {
  margin-top: -30px;
  padding: 0 10px 0 10px;
  margin-left: 10%;
  position: sticky;
  margin-right: 10%;
  background: white;
  min-height: 60px;
  display: flex;
  flex-flow: row;
  justify-content: left;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.search-bar p {
width: fit-content;
height: fit-content;
padding: 5px;
color: hsl(180, 29%, 50%);
font-weight: 700;
background-color:hsl(180, 31%, 95%) ;
border-radius: 5px;
padding-right: 0px;
margin-right: 10px;
}

.search-bar span {
  padding: 5px;
  background-color:hsl(180, 29%, 50%) ;
  margin-left: 5px;
  border-radius: 0px 5px 5px 0px;
}
.search-bar span:hover ,
.search-bar span:focus ,
.search-bar span:active  
 {
  background-color:black ;
}
.clear-btn:hover { 
  text-decoration: underline;
  color: hsl(180, 29%, 50%);;

}
.clear-btn {
  position: absolute;
  right: 25px;
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
